/*====================
=======Structure======
======================*/

main {
    margin: 0 auto;
    width: 90%;
}

section {
    width: 100%;
}

/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

/*====================
======Typography======
======================*/

h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6{
    font-family: "Roboto Condensed";
}

a, td, p, button, span, li{
    font-family: "Roboto";
    text-decoration: none;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
=======Header=========
======================*/

.header-top {
    background-color: #E6E6E6;
    padding: 0.5rem 5%;
    width: 90%;
}

.header-top-featured-news{
    width: 85%;
}

.header-top-featured-news ul, .header-top-editions ul {
    display: flex;
    justify-content: space-between;
}

.header-top-featured-news ul li:not(:first-child):not(:last-child)::after {
    content: " -";
    padding-left: 0.25rem;
}

.header-top-editions ul li:not(:last-child)::after {
    content: " |";
    padding-left: 0.25rem;
}

.header-top-featured-news ul li,
.header-top-editions ul li{
    font-size: 0.8rem;
}

.header-top-editions{
    margin-left: auto;
    width: 45%;
}

.header-top-featured-news ul li:first-child {
    color: hsl(0, 100%, 40%);
    font-weight: bold;
    text-transform: uppercase;
}

.header-main {
    background-color: hsl(0, 100%, 40%);
    border-bottom: 0.28em solid hsl(0, 0%, 100%);
    padding: 1rem 5%;
    width: 90%;
}

.header-main-menu-button svg {
    color: hsl(0, 0%, 100%);
    width: 3rem;
}

.header-main-logo svg {
    color: #ffffff;
    margin: 2% 0 0;
    width: 80%;
}
.header-main-users {
    display: flex;
    justify-content: space-between;
    margin: 4% 0 0 auto;
    vertical-align: middle;
    width: 65%;
}

.header-main-users button {
    border: none;
    border-radius: 0.2em;
    height: 2em;
}

.header-main-users button span {
    font-size: 0.9rem;
    margin-right: 0.2rem;
}

.header-main-users-login svg {
    vertical-align: middle;
    width: 1.5rem;
}

.header-main-users-register button {
    background-color: hsl(47, 100%, 50%);
    font-weight: bold;
    font-style: italic;
    width: 100%;
}

.header-menu {
    background-color: hsl(0, 0%, 90%);
    border-bottom: 2px solid hsl(0, 0%, 80%);
    padding: 0.2rem 5%;
    width: 90%;
}

.header-menu ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-menu ul li{
    color: hsl(0, 0%, 24%);
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
}

.header-menu li:first-child {
    width: 2em;
    fill: hsl(0, 0%, 24%);
}

.header-menu li:last-child {
    width: 1.4em;
    fill: hsl(0, 0%, 24%);
}

/*====================
=======Ads============
======================*/
.desktop-one-column>div>div {
    padding: 4% 5%;
    width: 90%;
}

/*====================
======News============
======================*/
.news {
    margin-bottom: 6%;
}

.news>div {
    margin-bottom: 2%;
}

.news .news-image {
    margin-bottom: 0;
}

.news-related ul li {
    list-style: square;
    color: hsl(0, 100%, 50%);
    list-style-position: inside;
}

.news-related ul li a {
    color: hsl(0, 0%, 0%);
}

.news-related ul li a:hover {
    color: hsl(0, 100%, 40%);
}

.news-author {
    color: hsl(0, 0%, 33%);
}

.news-category {
    color: hsl(0, 100%, 40%);
}

.news-title h3:hover {
    color: hsl(0, 100%, 50%);
}

/*====================
=====News Featured====
======================*/

.news.featured .news-category {
    color: hsl(0, 100%, 50%);
}

.news.featured .news-description p {
    color: hsl(0, 68%, 85%);
}

.news.featured .news-title h3 {
    color: hsl(0, 0%, 100%);
}

.news.featured .news-category span {
    color: hsl(0, 67%, 77%);
    font-weight: bold;
}

.news.featured .news-author span {
    color: hsl(0, 0%, 100%);
}