/*====================
=======Structure======
======================*/

main {
    padding:0 10% 0;
    width: 80%;
}
section {
    width: 100%;
}


/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

/*====================
======Typography======
======================*/

h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6 {
    font-family: "Roboto Condensed";
}

a, td, p, button, span{
    font-family: "Roboto";
    text-decoration: none;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
=======Header=========
======================*/

.header-top {
    background-color: #E6E6E6;
    padding: .4% 5% .4%;
    width: 90%;
}

.header-top-featured-news ul, .header-top-editions ul {
    display: flex;
    justify-content: space-evenly;
}
.header-top-featured-news li {
    list-style: symbols("-");
}

.header-top-featured-news li:first-child {
    color: #CD0000;
    font-weight: bold;
}
/* ----- */
.header-main {
    background-color: #CD0000;
    border-bottom: 0.28em solid #ffffff;
    padding: 1.2%;
}
.header-main-menu-button svg {
    width: 16%;
    color: #ffffff;
    margin-left: 12%;
}
.header-main-logo svg path {
    color: #ffffff;
}
.header-main-users {
    display: flex;
    margin: 4%;
    justify-content: center;
}
.header-main-users button {
    border: none;
    border-radius: 0.2em;
    height: 2em;
}
.header-main-users-login {
    margin-right: 2%;
    width: 50%;
}
.header-main-users-login button {
    background-color: #E6E6E6;
    width: 100%;
}
.header-main-users-login>button span {

}
.header-main-users-login svg {
    width: 16%;
}
.header-main-users-register button {
    background-color: #ffc700;
    font-weight: bold;
    font-style: italic;
    width: 100%;
}
/* ----- */
.header-menu {
    background-color: #E6E6E6;
    border-bottom: 2px solid #CCCCCC;
    color: #3D3D3D;
    font-weight: bold;
    padding: 0.6% 4% 0 ;
    text-transform: uppercase;
    width: 92%;
}
.header-menu ul {
    display: flex;
    justify-content: space-evenly;
}
.header-menu li:first-child, .header-menu li:last-child {
    width: 1.6em;
    fill: #3D3D3D;
}

/*====================
=======Ads============
======================*/



/*====================
======News============
======================*/
.home .desktop-two-columns {
    margin-bottom: 6%;
}



/*====================
=====News Featured====
======================*/

/* .news-featured {
    background-color: #CD0000;
}
.news-featured>.news-description p {
    color: #ffffff;
}
.news-featured>.news-title h3 {
    color: #ffffff;
}
.news-featured>.news-category span {
    color: grey;
    font-weight: bold;
}
.news-featured>.news-author span {
    color: #ffffff;
} */

/*====================
========Listas========
======================*/

/* .news-related ul {
    list-style: square;
}
.header-top-featured-news ul, .header-top-editions ul {
    display: flex;
    justify-content: space-evenly;
}
border-bottom: 0.2em solid #808080; menu nav